@model IEnumerable<LocalizationSite.Models.Test>
<h2>@SR["Hello World"]</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.MultiLangContent</td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="/Home/Insert">
    <textarea name="MultiLangContent"></textarea>
    <input type="submit" />
</form>